<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>Your IMDb import</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>These ratings will appear shortly on your Facebook timeline</p>
<ul>
    {% for i in list_imports %}
    <li><a href="{{i.rating.film.imdb_url}}">{{i.rating.film.title}}</a>
        <a href="/rating/{{i.rating_id}}">{{i.rating.score}}/{{i.rating.scale}}</a>
        <span class="{{i.status}}">{{i.status_msg}}</span>
    </li>
    {%endfor%}
</ul>

</body>
</html>