<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>Your IMDb import</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link
            href='http://fonts.googleapis.com/css?family=Droid+Sans|Philosopher'
            rel='stylesheet' type='text/css'/>
    <link href="/pages/fbmovies.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<p>These ratings are currently being imported and will soon appear in <a
        href="https://www.facebook.com/me/allactivity?log_filter=app_608738222470406">your Facebook timeline</a></p>
<ul>
    {% for i in list_imports %}
    <li><a href="{{i.url}}">{{i.title}}</a>
        {{i.score}} /&nbsp;10</a>
    </li>
    {%endfor%}
</ul>

</body>
</html>